header {
    .navbar {
        align-items:center;
        display: flex;
        flex-direction: row;
        .navbar-brand {

            img {

            }
        }
        .navbar-toggler {

        }
        .navbar-nav {
            li {
                margin-right: 20px;
                a {
                    font-family: $ralMedium;
                    font-size: 1.2rem;
                    text-decoration: none;
                    &:hover {

                    }
                }
                &.active {

                }
                &.dropdown {
                    a {

                        &:hover {

                        }
                    }
                    .dropdown-menu {
                        li {
                            a {

                                &:hover {

                                }
                            }
                        }
                    }
                }
            }
        }
        .additionalMenu {
            margin: 0;
            padding: 0;
            li {
                a {

                    &:hover {

                    }
                }
            }
        }
    }
}
