header {
    background-color: $darkBlue;
    padding-bottom: .5rem;
    padding-top: .5rem;
    .navbar {
        align-items:center;
        display: flex;
        flex-direction: row;
        .row {
            width: 100%;
        }
        .navbar-brand {
            color: $w;
            font-family: $ralBlack;
            font-size: 1.25rem;
            letter-spacing: 2px;
            margin-right: 40px;
            img {

            }
        }
        .sidebar-toggler {
            background-color: transparent;
            border: 0;
            border-radius: 0;
            color: $w;
        }
        .additionalMenu {
            margin: 0;
            padding: 0;
            li {
                margin-right: 15px;
                a {
                    color: $w;
                    font-family: $ralReg;
                    font-size: 1.1rem;
                    text-decoration: none;
                    @include transition(all .4s ease-in-out);
                    &:hover {
                        color: $lightBlue;
                    }
                }
                &:last-of-type {
                    margin-right: 0;
                }
                &.dropdown {
                    a {

                    }
                    .dropdown-menu {
                        background-color: #f3f3f3;
                        border: 0;
                        border-radius:0;
                        -webkit-box-shadow: 4px 9px 20px -10px rgba(0,0,0,0.5);
                        -moz-box-shadow: 4px 9px 20px -10px rgba(0,0,0,0.5);
                        box-shadow: 4px 9px 20px -10px rgba(0,0,0,0.5);
                        li {
                            display: block;
                            width: 100%;
                            a {
                                color: $b;
                                text-decoration: none;
                                @include transition(all .4s ease-in-out);

                                &:hover {
                                    background-color: transparent;
                                    border: 0;
                                    box-shadow: none;
                                    color: $darkBlue;
                                    outline: none;
                                }
                            }
                            .dropdown-divider {
                                border-top: 1px solid $darkBlue;
                            }
                        }
                    }
                }
            }
        }
    }
}
