.pageMain {
    margin: 30px 0;
    .inner {
        background-color: $w;
        border: 0;
        border-radius: 20px;
        padding: 2rem;
        width: 100%;

        .sectionTitle {
            color: $mediumBlue;
            font-family: $ralMedium;
            font-size: 1.5rem;
            margin-bottom: 40px;
            text-align: center;
        }
    }

    @import "../page-partials/form";
    @import "../page-partials/tables";
    @import "../page-partials/clientSidebar";
    @import "../page-partials/whiteBox";
    @import "../page-partials/whiteAmountBox";
    @import "../page-partials/transactionAmountItem";
    @import "../page-partials/whiteLinkBox";

}


