.pageActionsBanner {
    .inner {
        background-color: $w;
        border: 0;
        border-radius: 20px;
        padding: 2rem;

        width: 100%;

        .btn-wrap {
            display: flex;
            flex-direction: row;
            gap: 20px;
        }
    }
}
