.pageMain {
    margin: 30px 0;
    .inner {
        background-color: $w;
        border: 0;
        border-radius: 20px;
        padding: 2rem;

        width: 100%;
    }

    form {

        .row {
            margin-bottom: 30px;
        }
        label {
            color: $darkBlue;
            display: block;
            font-family: $ralMedium;
            font-size: 1rem;
            margin-bottom: 10px;
            width: 100%;
        }
        .input-group {
            display: flex;
            flex-direction: row;
            input[type='text'],
            input[type='tel'],
            input[type='email'],
            input[type='number'],
            input[type='password'],
            select {
                background-color: $w !important;
                border: 1px solid $darkBlue;
                border-radius: 0;
                box-shadow: none;
                display: inline-block;
                height: 40px;
                outline: none;
                padding-left: .5rem;
                padding-right: .5rem;
                width: 80%;
            }
        }
        input[type='text'],
        input[type='tel'],
        input[type='email'],
        input[type='number'],
        input[type='password'],
        select {
            background-color: $w !important;
            border: 1px solid $darkBlue;
            border-radius: 0;
            box-shadow: none;
            display: block;
            height: 40px;
            outline: none;
            padding-left: .5rem;
            padding-right: .5rem;
            width: 100%;
        }
    }

    table {
        thead {

        }
        tbody {
            tr {
                td {
                    color: $darkBlue;
                    font-family: $ralReg;
                    font-size: 1.1rem;
                    .dropdown {
                        button.dropdown-toggle {
                            background-color: transparent;
                            border: 0;
                            border-radius: 0;
                            color: $darkBlue;
                            display: block;
                            font-size: 1.1rem;
                            text-align: right;
                            @include transition(all .4s ease-in-out);
                            width: 100%;

                            &:hover,
                            &.active {
                                background-color: transparent;
                                border: 0;
                                border-radius: 0;
                                box-shadow: none;
                                color: $mediumBlue;
                                outline: none;
                                text-decoration: none;
                            }

                            &:after {
                                display: none;
                            }
                        }
                        .dropdown-menu {
                            border: 0;
                            border-radius: 0;
                            a {
                                color: $darkBlue;
                                display: block;
                                font-family: $ralReg;
                                font-size: 1rem;
                                padding: .5rem;
                                @include transition(all .4s ease-in-out);
                                text-decoration: none;
                                width: 100%;

                                &:hover {
                                    background-color: transparent;
                                    border: 0;
                                    border-radius: 0;
                                    color: $mediumBlue;
                                    outline: none;
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
