.whiteAmountBox {
    background-color: $w;
    border: 0;
    border-radius: 10px;
    margin: 0 0 30px 0;
    padding: 1.5rem;

    h4.amount {
        color: $mediumBlue;
        font-family: $ralBold;
        font-size: 2rem;
        margin-bottom: 0px;
    }
    h3.desc {
        color: $darkBlue;
        font-family: $ralReg;
        font-size: 1.2rem;
    }
}
